.footer {
  background-color: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  padding: 20px 80px;
}

.tenant-footer{
  line-height: 30px;
}

.footer-link{
  color: black;
  text-decoration: none;
}

.footer-link:hover{
    text-decoration: underline;
    cursor: pointer;
}

.footer-logo {
  height: 80px;
}

.footer h3{
font-family: righteous;
}

.tenant {
  color: var(--color1);
}

.footer-center-items {
    display: flex;
    justify-content: center;
}

.footer-social{
  display: flex;
}

.footer-social-network{
  height: 40px;
}

.second-footer {
  text-align: center;
  /* justify-content: center; */
}

.second-footer a{
    color: var(--color3);
    text-decoration: none;
}


.footer-link a{
  text-decoration: none;
  color: black;
}

@media (max-width: 800px) {
  .footer-center-items{
    text-align: left;
    justify-content: left;
  }
}